# Ignore all MP4 files
*.mp4

# Database
.db.sqlite3

# Logs
debug.log

# Environment files
.env
activity/__pycache__/settings.cpython-313.pyc

# Refact tool
.refact/

# Ignore all generated and existing QR code files
media/qr_codes/
qr_code*

# Ignore all media files except icons
media/*
!media/icon/
!media/icon/*
