{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/pages/registration/forgot_password.css' %}">
<div class="login-box">
    <h2 class="login-box-title">Восстановление пароля</h2>

    <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="email" class='form-label'>Email</label>
            <input type="email" id="email" name="email" required>
        </div>

        <button type="submit" class='submit-btn'>Отправить временный пароль</button>
    </form>

    <div class="back-link">
        <a href="{% url 'login' %}" class="back-link">Вернуться к авторизации</a>
    </div>
</div>

{% endblock %}