{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/pages/registration/forgot_password_success.css' %}">
<div class="login-box">
    <h2 class="login-box-title">Проверьте вашу почту</h2>

    <p class='login-box-text'>На адрес <strong>{{ email }}</strong> было отправлено письмо с временным паролем.</p>

    <form action="{% url 'login' %}">
        <button type="submit" class='submit-btn'>Вернуться к авторизации</button>
    </form>
</div>

{% endblock %}