{% extends 'base.html' %}
{% load static %}
{% comment %} css {% endcomment %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pages/login.css' %}">
{% endblock %}
{% block content %}
<div class="auth-container">
<div class="login-box">
    <h2 class="auth-title">Авторизация</h2>
    {% if form.non_field_errors %}
        <div class="error">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <form method="post" class="auth-form">
        {% csrf_token %}
        <div>
            <label for="id_email" class="form-label">Email</label>
            <div class="form-group">{{ form.email }}</div>
        </div>

        <div>
            <label for="id_password" class="form-label">Пароль</label>
            <div class="form-group">{{ form.password }}</div>
        </div>

        <button type="submit" class="submit-btn">Войти</button>
    </form>
    
    <div>
        <a href="{% url 'forgot_password' %}" class='auth-link-login'>Забыли пароль?</a>
    </div>
    <hr class="auth-hr">
    <div>
        <span class="auth-text">Нет аккаунта?</span>
        <a href="{% url 'register' %}" class='auth-link-login'>Зарегистрироваться</a>
    </div>
</div>
</div>
{% endblock %}