{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/pages/registration/verify_email.css' %}">
<div class="verify-box">
    <h2 class='verify-h'>Подтверждение почты</h2>

    {% if error_message %}
        <div class="error-message" >
            {{ error_message }}
        </div>
    {% endif %}

    <p class='verify-p'>На вашу почту отправлен код подтверждения.</p>
    <p class='verify-p'>Пожалуйста, введите его в поля ниже.</p>

    <form method="post">
        {% csrf_token %}

        <div class="code-inputs">
            <input type="text" name="code1" maxlength="1" required autofocus>
            <input type="text" name="code2" maxlength="1" required>
            <input type="text" name="code3" maxlength="1" required>
            <input type="text" name="code4" maxlength="1" required>
            <input type="text" name="code5" maxlength="1" required>
        </div>

        <button type="submit" class='verify-btn'>Подтвердить</button>
    </form>
    <p class='resend'>Не получили код? <span id="timer-display">1:00</span></p>
    <button id="resend-code-button" class='resend-btn'>Отправить код повторно</button>
</div>
</div>
<script src="{% static 'js/pages/registration/verify_email.js' %}"></script>

{% endblock %}