.login-box {
    width: 350px;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 1.93px 1.93px 9.64px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 40px 20px 40px 20px;
    margin: 0 auto;
}

.login-box-title {
        font-family: 'Montserrat';
    font-size: clamp(1rem, 1vw, 1.5rem);
    font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 7px 16px;
  border: 1px solid rgba(119, 122, 141, 1);
  border-radius: 20px;
  font-size: clamp(0.7rem, 1vw, 0.8rem);
  color: black;
  cursor: pointer;
  background: #fff;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;
  outline: none;
  font-family: inherit;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.form-group {
    text-align: left;
}
.form-label {
    font-family: 'Montserrat';
    margin-bottom: 2px;
    margin-top: 5px;
    color: #81828a;
    font-size: clamp(0.7rem, 1vw, 0.8rem);
}

.submit-btn {
    font-family: 'Montserrat';
    font-size: clamp(0.8rem, 1vw, 0.8rem);
    background: rgba(255, 131, 72, 1);
    border-radius: 20px;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    text-transform: uppercase;
}

.back-link {
    font-family: 'Montserrat';
    font-size: clamp(0.7rem, 1vw, 0.75rem);
    color: rgba(154, 154, 154, 1);
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 10px;
}