{% extends "admin/change_form.html" %}
 {% load i18n admin_urls static %} 
 {% block after_field_sets %}
<div
  class="form-group"
  style="
    margin-top: 20px;
    padding: 15px;
    background: #f8f9fa;
    border-radius: 5px;
    border: 1px solid #dee2e6;
  "
>
  <label style="font-weight: bold;color: black;"
    >{% trans "Множественная загрузка фотографий" %}:</label
  >
  <input
    type="file"
    name="images"
    multiple
    id="id_images"
    style="margin-top: 5px;color: black;"
  />
  <p class="help" id="images_help_text" style="margin-top: 5px;color: black;">
    {% trans "Выберите несколько фотографий для загрузки." %}
  </p>
</div>
{{ block.super }} 
{% endblock %} 
{% block extrahead %} 
{{ block.super }}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tariffSelect = document.getElementById("id_tariff");
    const imagesHelp = document.getElementById("images_help_text");

    const limits = {
      1: { max_photos: 1 },
      2: { max_photos: 10 },
      3: { max_photos: 25 },
    };

    function updateImagesHelp() {
      const selectedTariff = tariffSelect.value;
      if (imagesHelp && limits[selectedTariff]) {
        imagesHelp.textContent = `{% trans "Выберите несколько фотографий для загрузки. Максимум" %}: ${limits[selectedTariff].max_photos}.`;
      }
    }

    if (tariffSelect && imagesHelp) {
      tariffSelect.addEventListener("change", updateImagesHelp);
      updateImagesHelp();
    }
  });
</script>
{% endblock %}
