{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<footer class="footer-header">
    <div class="footer-inner">
        <!-- Логотип -->
        <div class="footer-logo">
            <a href="{% url 'landing_page' %}">
                <img src="/media/icon/logo.svg" alt="">
            </a>
        </div>

        <!-- Навигация -->
        <nav class="footer-nav">
            <a href="{% url 'landing_page' %}" class="footer-nav-link">Главная</a>
            <a href="{% url 'event_list' %}" class="footer-nav-link">Каталог мероприятий</a>
            <a href="{% url 'venues:venue_list' %}" class="footer-nav-link">Каталог залов</a>
            <a href="#" class="footer-nav-link">Для организаторов</a>
            <a href="{% url 'about' %}" class="footer-nav-link">О платформе</a>
            <a href="{% url 'faq' %}" class="footer-nav-link">FAQ</a>
            <a href="{% url 'contacts' %}" class="footer-nav-link">Контакты</a>
        </nav>

        <!-- Контакты -->
        <div class="footer-contacts">
            <span class="footer-city">Новосибирск</span>
            <div class="footer-socials">
                <a href="https://t.me/" target="_blank" title="Telegram">
                    <img src="/media/icon/tg.png" alt="TG" class="footer-social-icon">
                </a>
                <a href="tel:" title="Телефон">
                    <img src="/media/icon/phone.png" alt="Phone" class="footer-social-icon footer-phone-icon">
                </a>
            </div>
        </div>
    </div>

    <!-- Нижняя строка -->
    <div class="footer-bottom">
        <a href="{% url 'offer' %}" class="footer-bottom-link">Публичная оферта</a>
        <a href="{% url 'privacy_policy' %}" class="footer-bottom-link">Политика конфиденциальности</a>
        <a href="{% url 'requisites' %}" class="footer-bottom-link">Реквиты организации</a>
    </div>
</footer>
