{% load static %}

<div class="empty-placeholder empty-placeholder--notfound">
    <div class="empty-placeholder-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            <line x1="8" y1="11" x2="14" y2="11"></line>
        </svg>
    </div>
    <h3 class="empty-placeholder-title">УПС, НИЧЕГО НЕ НАЙДЕНО</h3>
    <p class="empty-placeholder-text">
        По вашему запросу ничего не найдено. Попробуйте изменить данные фильтров и поискать ещё раз.
    </p>
    <a href="javascript:history.back()" class="empty-placeholder-button">Изменить фильтры</a>
</div>
