
{% block content %}
<div class="container">
    <h1>Покупка билета на "{{ event.title }}"</h1>
    
    <p>Дата и время: {{ event.date_time|date:"d.m.Y H:i" }}</p>
    <p>Место: {{ event.place }}</p>
    <p>Описание: {{ event.description_short }}</p>

    <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" required>
        </div>
        
        <div class="form-group">
            <label for="first_name">Имя:</label>
            <input type="text" name="first_name" required>
        </div>
        {% comment %} телефон {% endcomment %}
        <div class="form-group">
            <label for="phone">Телефон:</label>
            <input type="text" name="phone">
        </div>

        <div class="form-group">
            <label for="ticket_id">Тип билета:</label>
            <select name="ticket_id" required>
                {% for ticket in event.tickets.all %}
                    {% if ticket.available_quantity > ticket.get_sold_count %}
                        <option value="{{ ticket.id }}">{{ ticket.name }} - {{ ticket.price }} ₽</option>
                    {% else %}
                        <option value="{{ ticket.id }}" disabled style="color: #999;background-color: #f5f5f5;">
                            {{ ticket.name }} - {{ ticket.price }} ₽ (раскуплено)
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Купить билет</button>
    </form>
</div>
{% endblock %}