{% extends 'base.html' %}
{% load static %}
{% block title %}БИЗНЕС АФИША{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/pages/landing.css' %}">
<div class="landing-header">
    <div class="logo">БИЗНЕС<br>АФИША</div>
    <div class="nav-links-container">
        <div class="nav-links">
            <a href="#" class="nav-link">Главная</a>
            <a href="#" class="nav-link">Каталог мероприятий</a>
            <a href="#" class="nav-link">Каталог залов</a>
            <a href="#" class="nav-link">Для организаторов</a>
            <a href="#" class="nav-link">О платформе</a>
            <a href="#" class="nav-link">FAQ</a>
            <a href="#" class="nav-link">Контакты</a>
        </div>
    </div>
    <div class="right-section mt-4">
        <div class="nav-icons">
            <i><img src="/media/icon/phone.png" alt="" class="nav-icon"></i>
            <i><img src="/media/icon/tg.png" alt="" class="nav-icon"></i>
        </div>
        <div class="auth-block">
            <a href="#" class="auth-link">Вход / регистрация</a>
            <div class="city">Новосибирск</div>
        </div>
    </div>
</div>
{% endblock %}