{% load format_filters %}
{% comment %}Карточка площадки (используется в списке и при AJAX-подгрузке){% endcomment %}
<div class="col-6 col-md-6 col-lg-4 col-xl-3 venue-list-col mb-4">
    <div class="card venue-card-wrapper">
        {% if venue.badge_text %}
        <span class="venue-badge {% if venue.tariff == 3 %}venue-badge--premium{% else %}venue-badge--standard{% endif %}">{{ venue.badge_text }}</span>
        {% endif %}
        {% if venue.images.all %}
        <img src="{{ venue.images.all.0.image.url }}" class="card-img-top" alt="{{ venue.title }}">
        {% endif %}
<div class="card-body">
    <h5 class="card-title">{{ venue.title }}</h5>
    <p class="card-label-venue"><img src="/media/icon/geo-gray.png" alt="" class="icon-calendar"><span class="venue-adress">{{ venue.address }}</span></p>
    <p class="card-label-venue" style='margin-top: -10px !important;'><img src="/media/icon/S.png" alt="" class="icon-calendar"><span>{{ venue.area|floatformat }} м²</span></p>
    <p class="card-label-venue">до {{ venue.max_capacity }} человек</p>
    <p class="card-price-venue">
        {% if venue.price_unit == 'hour' %}
        {{ venue.price|format_price }}.- час
        {% elif venue.price_unit == 'day' %}
        {{ venue.price|format_price }}.- день
        {% else %}
        Договорная
        {% endif %}</p>
<a href="{% url 'venues:venue_detail' venue.slug %}" class="buy-button">ЗАБРОНИРОВАТЬ</a>
        </div>
    </div>
</div>
