{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pages/payment/refund_success.css' %}">
{% endblock %}

{% block content %}
<div class="refund-success-wrapper">
    <div class="refund-success-card">
        <div class="refund-success-header">
            <div class="refund-success-icon">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z"/>
                </svg>
            </div>
            <h2>Возврат успешно выполнен!</h2>
        </div>
        <div class="refund-success-body">
            <p class="refund-success-message">
                Ваш билет был успешно возвращён. Деньги будут зачислены на ваш счёт в течение нескольких рабочих дней.
            </p>
            <a href="{% url 'visitor:dashboard' %}" class="refund-success-btn">
                <i class="bi bi-arrow-left"></i>ЛИЧНЫЙ КАБИНЕТ
            </a>
        </div>
    </div>
</div>
{% endblock %}