{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/pages/event_detail.css' %}">
<div class="event-detail-container">
    <div class='row'>
        <div class='col-6'>
            <img src='{{ event.image.url }}' alt=''>
        </div>
        <div class='col-6'>
            <div class='event-info'>
                <div class='event-title'>
                    {{ event.title }}
                </div>
                {% if ev.organizer.is_verified %}
                <p class="block-calendar"><img src="/media/icon/arrow-card.png" alt="" class='arrow-card'><span class="card-verified">Проверенный организатор</span></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}